body {
    min-height: 100vh;
    background-color: #f8f9fa; /* Fundo geral */
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; /* Largura do menu */
    padding: 20px;
    background: linear-gradient(to bottom, #004085, #0056b3);
    border-right: 1px solid #dee2e6;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 100;
    transition: width 0.3s;
  }
  .sidebar .nav-link {
    font-size: 1.05rem;
    color: #fff;
    border-radius: 0.375rem;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }
  .sidebar .nav-link i {
    width: 30px;
    text-align: center;
    margin-right: 10px;
  }
  .sidebar .nav-link.active {
    background-color: #fff;
    color: #0d6efd;
  }
  .sidebar .nav-link:not(.active):hover {
    background-color: rgba(255,255,255,0.2);
    color: #fff;
    transform: translateX(5px);
  }
  .sidebar .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .sidebar .logo i {
    margin-right: 10px;
  }

  /* Onde o conteúdo será carregado */
  .content-frame {
    position: fixed;
    top: 0;
    left: 250px; /* Deve ser igual à largura do sidebar */
    right: 0;
    bottom: 0;
    border: none;
    width: calc(100% - 250px);
    height: 100vh;
    transition: left 0.3s, width 0.3s;
  }
  
  /* Ajuste para telas pequenas (mobile) */
  @media (max-width: 767.98px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative; /* Deixa de ser fixo */
      border-right: 0;
      border-bottom: 1px solid #dee2e6;
    }
    .content-frame {
      position: relative;
      left: 0;
      width: 100%;
      height: calc(100vh - 160px); /* Ajuste a altura conforme necessidade */
    }
  }

  body.sidebar-collapsed .sidebar {
    width: 80px;
    padding: 20px 10px;
  }

  body.sidebar-collapsed .sidebar .logo span {
    display: none;
  }

  body.sidebar-collapsed .sidebar .nav-link span {
    display: none;
  }

  body.sidebar-collapsed .content-frame {
    left: 80px;
    width: calc(100% - 80px);
  }

  .toggle-button-container {
    position: fixed;
    top: 20px;
    left: 250px;
    z-index: 101;
    transition: left 0.3s;
  }

  body.sidebar-collapsed .toggle-button-container {
    left: 80px;
  }

  #toggle-menu {
    border-radius: 0 5px 5px 0;
    background: linear-gradient(to bottom, #004085, #0056b3);
    color: #fff;
    border: none;
  }

  body.sidebar-collapsed #toggle-menu i {
    transform: rotate(180deg);
  }

  body.sidebar-collapsed .sidebar .nav-link {
    justify-content: center;
  }

  body.sidebar-collapsed .sidebar .logo {
    justify-content: center;
  }

  body.sidebar-collapsed .sidebar .logo i {
    margin-right: 0;
  }